@import './markdown.less';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

::selection {
  background: rgb(251 191 36 / 50%);
  color: #fff;
}

.stroke_title {
  -webkit-text-stroke-color: #555;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  text-wrap: nowrap;
  user-select: none;
  pointer-events: none;
  z-index: -99999;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji' !important;
  animation: fade-in 0.5s ease-in-out;
  transition: all 0.3s;
}

.stroke_title:hover {
  -webkit-text-stroke-color: #777;
}
