@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: "Noto Serif SC", "Source Han Serif SC", "Source Han Serif", ui-serif, Georgia, "Times New Roman", serif;
}

:root, .light {
  --ui-bg: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-text-inverted: var(--ui-color-neutral-50);
}

.dark {
  --ui-text-highlighted: var(--ui-color-neutral-50);
  --ui-bg-inverted: var(--ui-color-neutral-50);
  --ui-border-inverted: var(--ui-color-neutral-50);
  /* --ui-bg: var(--ui-color-neutral-950); */
  --ui-bg: #0E0D0B;
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-text-inverted: var(--ui-color-neutral-900);
}